main {
    width: 100%;
    padding: 0px 40px 0px 40px;
}

section {
    
    margin-top: 50px;
    margin-bottom: 50px;
}

section img{
    width: 100%;
}

.pesquisa{
    display: flex;
}

.pesquisa div:first-of-type {
    flex: 2;
}

.pesquisa div {
    flex: 1;
    padding: 1px;
}

.pesquisa div img{
    display: block;
}

.wireframe-digitais {
    justify-content: left;
    gap: 1rem;   
}

.wireframe-digitais img {
    min-width: 45%;
    flex: 1;
}

.problematica{
    display: flex;
}

.problematica div:first-of-type {
    flex: 2;
}

.problematica div {
    flex: 1;
    padding: 1px;
}

.problematica div img{
    display: block;
}

.prototipo-alta {
    background-color: hsla(182, 63%, 42%, 0.2);
    padding: 3rem;
    justify-content: center;
    gap: 1rem;
}

.prototipo-alta img {
    height: 35rem;
    max-width: 14rem;
    flex: 1;
}

.card-problematica{
    display: flex;
    align-items: center;
    height: fit-content;
    margin: 5px;
}

.card-problematica img {
    width: 40px;
    margin: 10px 5px 10px 0px;
}

.integracao {
    text-align: center;
}

.integracao > img {
    max-width: 28rem;
}

.integracao > div{
    display: flex;
    text-align: left;
    align-items: flex-start;
    height: auto;
    margin: 5px;
    margin-top: 5rem;
}

.integracao > div > img {
    width: 40px;
    height: 40px;
    margin: 10px 25px 10px 0px;
    object-fit: contain;
}


@media (max-width: 768px) {
    main {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    .pesquisa{
        display: block;
    }

    .problematica{
        display: block;
    }

    .prototipo-alta {
        justify-content: center;
    }

    .prototipo-alta img {
        height: auto;
        max-width: 12rem;
        flex: 1;
    }

    .wireframe-digitais{
        justify-content: center;  
    }
    
    .wireframe-digitais img {
        min-width: 100%;
    }
         
}